<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(234, 237, 240);">
    <div>

        <p style="  float: left;">
            <b>

                NAME & LOGO
            </b>
        </p>
    </div>
    <div>

        <bR>
        <p style="float: right;">
            <!-- <BUTTON class="btn firststep">Home</BUTTON> -->
            <a href="MAIN.html">
                <button class="GFG">
                    Home
                </button>
            </a>

        </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div
        style="border: solid 0.5px black; background-color: white; float: left; height:160px;width: 220px;text-align: center;margin-left: 20px; ">
        You have necessary options related to your search

        <br>
        
        <img src="https://static.vecteezy.com/system/resources/thumbnails/000/633/234/small/vector60-11484-01.jpg"
            alt="img not found" style="height: 30px; width: 30px">
        

        <br>
        <br>

        <a href="http://127.0.0.1:5500/DOUBTS_FINAL.html">
            <button class="GFG" style="width: 80px; ">
                Edit your querry
            </button>
    </div>
    </a>
    <div style="border: solid 0.5px black; background-color: white; width: 900px; height: fit-content;float: left;margin-left: 200px;">
        <p style="margin-left: 5px;">
            ANSWERED by doctor 1
            <BR>
                
                <i>

                    DEGREE AND DESIGNATION
                </i>
        </p>
        <h2 style="margin-left: 5px;">
            Does going to the gym affects ones studies ?
        </h2>
        <P style="margin-left: 5px;">

            I started exercising in the 5th grade.
            
            I used to perform around 200 continuous crunches, 8–12 incline pushups, and 10–20 seconds dead hang back-to-back on alternate days.
            
            And, I was just above average in studies, the discipline of exercising actually carries over to studies as well, my personal experience.
        </P>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>

    <div style="border: solid 0.5px black; background-color: white; width: 900px; height: fit-content;float: left;margin-left: 440px;margin-top: 20px;">
        <p style="margin-left: 5px;">
            ANSWERED by doctor 1
            <BR>
                <i>

                    DEGREE AND DESIGNATION
                </i>
        </p>
        <h2 style="margin-left: 5px;">
My baby is 2 months old when should he join IIT        </h2>
        <P style="margin-left: 5px;">

            Well it’s too late for him, he should have joined it the day he was born. There is no hope left for him, now you can just hope for another baby. In case, a new baby is born
        </P>
        <br>
        <br>
    </div>

    
    <div style="border: solid 0.5px black; background-color: white; width: 900px; height: fit-content;float: left;margin-left: 440px;margin-top: 20px;">
        <p style="margin-left: 5px;">
            ANSWERED by doctor 1
            <BR>
         
                <i>

                    DEGREE AND DESIGNATION
                </i>
        </p>
        <h2 style="margin-left: 5px;">
            Does going to the gym affects ones studies ?
        </h2>
        <P style="margin-left: 5px;">

            I started exercising in the 5th grade.
            
            I used to perform around 200 continuous crunches, 8–12 incline pushups, and 10–20 seconds dead hang back-to-back on alternate days.
            
            And, I was just above average in studies, the discipline of exercising actually carries over to studies as well, my personal experience.
        </P>
        <br>
        <br>
    </div>
</body>

</html>