<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="	https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
  <style>
    table,
    td,
    th {
      border: 3px solid black;
    }

    table {
      margin-left: 350px;
      margin-top: 200px;
      border-collapse: collapse;
      width: 50%;
    }
    body{
      background: url("");
  background-repeat: no-repeat;
background-size: cover;
    }
  </style>
</head>

<body>
  <div>
    <table>
      <tr>
        <th>
          <h3>
            
            Name of document 
          </h3>
        </th>
        <th>
            <h3>
            File selected
          </h3>
          </th>
        <th>
        <h3>
        Upload status
      </h3>
      </th>
    </tr>
    <tr>
      <tr>
        <th>
          Document 1
        </th>
        <th>
          <input type="file" id="fileInput">
        </th>
        <th>
          <button id="uploadButton">upload</button>
        </th>
      </tr>
      <tr>
        <th>
          Document 2
        </th>
        <th>
          <input type="file" id="fileInput">
        </th>
        <th>
          <button id="uploadButton">upload</button>
        </th>
      </tr>
      <tr>
        <th>
          Document 3
        </th>
        <th>
          <input type="file" id="fileInput">
        </th>
        <th>
          <button id="uploadButton">upload</button>
        </th>
      </tr>
      <tr>
        <th>
          Document 4
        </th>
        <th>
          <input type="file" id="fileInput">
        </th>
        <th>
          <button id="uploadButton">upload</button>
        </th>
      </tr>
      

    </table>
  </div>

  <script>

    document.getElementById("uploadButton").onclick = () => {
      let fileElement = document.getElementById('fileInput')

      // check if user had selected a file
      if (fileElement.files.length === 0) {
        alert('please choose a file')
        return
      }

      let file = fileElement.files[0]

      let formData = new FormData();
      formData.set('file', file);

      axios.post("http://localhost:3001/upload-single-file", formData, {
        onUploadProgress: progressEvent => {
          const percentCompleted = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          );
          console.log(`upload process: ${percentCompleted}%`);
        }
      })
        .then(res => {
          console.log(res.data)
          console.log(res.data.url)
        })
    }

  </script>
</body>

</html>